			<div id="big_img">
				<img src="./assets/themes/n8g/images/banner.jpg">
			</div>

			<article id="main">
				<div class="row">
					<div class="col">
					{% for post in posts %}
						{{ post | raw }}
					{% endfor %}
					</div>

					<div id="blog_sidebar" class="col">
						<div class="filter">
							{{ date-filter | raw }}
						</div>
					</div>
				</div>
			</article>