			<div id="big_img">
				<img src="./assets/themes/n8g/images/banner.jpg">
			</div>

			<article id="main">
				<div class="row">
					<div class="column">
						{{ content | raw }}
					</div>

					<div class="column">
					</div>

					<div class="column">
					</div>
				</div>
			</article>