/**
 * Main.css
 *
 * This is the main style sheet for the N8G theme. This theme uses the following
 * pallet: http://www.colourlovers.com/palette/13244/cloudywsome_gray.
 *
 * @author Nick Green <nick-green@live.co.uk>
 */

/** Generic styling */
html { height: 100%; }
body {
	font-family: Verdana, Geneva, sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	display: table;
	width: 100%;
	background: #F6F6F6;
}

header, section#body, footer { display: table-row; height: 1px; }

/** Header styling */
header { background: #5b5b5b; }

#navigation {
	background: #5b5b5b;
	background: -moz-linear-gradient(top, #5b5b5b 0%, #2D2C2D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#2D2C2D));
	background: -webkit-linear-gradient(top, #5b5b5b 0%,#2D2C2D 100%);
	background: -o-linear-gradient(top, #5b5b5b 0%,#2D2C2D 100%);
	background: -ms-linear-gradient(top, #5b5b5b 0%,#2D2C2D 100%);
	background: linear-gradient(to bottom, #5b5b5b 0%,#2D2C2D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#2D2C2D',GradientType=0 );
}
#navigation > nav, #navigation > div { display: inline-block; vertical-align: top; }

#main_nav > ul { width: 100%; }

#main_nav ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#main_nav ul a {
	display: block;
	color: #fff;
	text-decoration: none;
	line-height: 32px;
	padding: 0 15px;
}

#main_nav ul a.current_parent_page { border-bottom: 5px #8c8c8c solid; }

#main_nav ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
#main_nav ul li:hover { background: #8c8c8c; }

#main_nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #2D2C2D;
	padding: 0;
}
#main_nav ul ul li { float: none; width: 200px; -webkit-border-radius: 0; border-radius: 0; }
#main_nav ul ul a { line-height: 120%; padding: 10px 15px; }
#main_nav ul ul ul { top: 0; left: 100%; }
#main_nav ul li:hover > ul { display: block; }

#main_nav > ul > li > a { margin-bottom: 5px; }
#main_nav > ul > li > a.current-page { border-bottom: #8c8c8c solid 5px; margin-bottom: -5px; }

/** Content section styleing */
section#body { height: 100%; }

div.row { display: block; min-width: 100%; margin-bottom: 20px; }
div.row > div.column { vertical-align: top; display: inline-block; }

#big_img > img { width: 100%; height: auto; }

article#main { display: block; margin-right: 10%; margin-left: 10%; }

/** Footer styleing */
footer {
	background: #5b5b5b;
	background: -moz-linear-gradient(top, #5b5b5b 0%, #2D2C2D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#2D2C2D));
	background: -webkit-linear-gradient(top, #5b5b5b 0%,#2D2C2D 100%);
	background: -o-linear-gradient(top, #5b5b5b 0%,#2D2C2D 100%);
	background: -ms-linear-gradient(top, #5b5b5b 0%,#2D2C2D 100%);
	background: linear-gradient(to bottom, #5b5b5b 0%,#2D2C2D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#2D2C2D',GradientType=0 );
	color: #fff;
	width: 100%;
	font-size: 12px;
	min-height: 50px;
}

footer #copyright { margin-top: 1em; text-align: center; vertical-align: top; }

footer nav a, footer nav a:visited { color: #fff; text-decoration: none; }
footer nav a:hover, footer nav a:focus, footer nav a:active { text-decoration: underline; }

/** Form styling */
fieldset { -webkit-border-radius: 25px; border-radius: 25px; background: #E3E4D9; border: solid 3px #5B5B5B; }
legend { font-weight: bold; }
label { width: 30%; text-align: right; float: left; font-weight: bold; margin-right: 3px; }
input, textarea { -webkit-border-radius: 5px; border-radius: 5px; padding: 2px 5px; width: 40%; font-size: 14px; resize: none; }
button {
	font-size: 13.5px;
	margin-top: 4px;
	background: #f8f8f8;
	background: -moz-linear-gradient(top, #b7b7b7 0%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b7b7), color-stop(100%,#f8f8f8));
	background: -webkit-linear-gradient(top, #b7b7b7 0%,#f8f8f8 100%);
	background: -o-linear-gradient(top, #b7b7b7 0%,#f8f8f8 100%);
	background: -ms-linear-gradient(top, #b7b7b7 0%,#f8f8f8 100%);
	background: linear-gradient(to bottom, #b7b7b7 0%,#f8f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#f8f8f8',GradientType=0 );
}
button:hover, button:focus {
	background: #f8f8f8;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #b7b7b7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#b7b7b7));
	background: -webkit-linear-gradient(top, #f8f8f8 0%,#b7b7b7 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%,#b7b7b7 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%,#b7b7b7 100%);
	background: linear-gradient(to bottom, #f8f8f8 0%,#b7b7b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#b7b7b7',GradientType=0 );
}
button:active { background: #b7b7b7; }
input, textarea, button { border: 1px solid #8c8c8c; }

/** Page type specific styling */
/** Blog page */
.blog-page .col { display: inline-block; vertical-align: top; }
.blog-page #posts { max-width: 73%; }
.blog-page #posts .post { max-width: 100%; }
.blog-page #blog_sidebar { width: 25%; }
.blog-page .edited { font-size: 12px; color: #888888; }
.blog-page #blog_sidebar { float: right; margin-left: 10px; }
.blog-page #blog_sidebar ul > li { white-space: nowrap; }
.blog-page #posts .post { margin-bottom: 50px; }
.blog-page #posts .post h3 { margin-bottom: 3px; }
.blog-page #posts .post .meta p { margin: 0px; width: 49%; vertical-align: top; display: inline-block; }
.blog-page #posts .post .meta .date { text-align: right; }
.blog-page #posts .post .meta .edited { width: 100%; }

/** Page specific styling */
/** Home page */

/** Custom components for the theme */
/** Search */
#search-box { float: right; }
#search-box form { margin: 0; }
#search-box fieldset { border: none; padding: 0; background: none; border: none; }
#search-box fieldset > div { display: inline-block; vertical-align: top; }
#search-box input { border: #5b5b5b 2px solid; width: auto; }

/** Index Contact Form */
#contact-form { background: #E3E4D9; margin: 5px -12.5% -10px; padding: 5px 12.5% 10px; }
#contact-form fieldset { border: none; }
#contact-form label { float: none; text-align: left; }
#contact-form input, #contact-form textarea { width: 95%; }
#contact-form textarea { height: 100px; }
#contact-form button { padding: 10px 40px;] }

/** Generic class styling */
.hidden { display: none; }
.row { display: table-row; }
.column { display: table-cell; vertical-align: top; }