			<nav id="main-nav">
				<ul id="site-links">
					<li><a href="/">Back to Site</a></li>
					<li><a href="/admin">Admin Home</a></li>
				</ul>

				<ul id="user-menu">
					<li>
						{{ user.name }}
						<ul>
							<li><a href="/admin/user/">Profile</a></li>
							<li><a href="/admin/user/">Settings</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
						}
					</li>
				</ul>
			</nav>