			<article id="main">
				<div id="sidebar" class="col">
					<ul>
						<li>
							<a href="/admin/pages">Pages</a>
							<ul>
								<li><a href="/admin/pages/add-page">Add Page</a></li>
							</ul>
						</li>
						<li>
							<a href="/admin/users">Users</a>
							<ul>
								<li><a href="/admin/users/user-groups">User Groups</a></li>
								<li><a href="/admin/users/access-rights">Access Rights</a></li>
							</ul>
						</li>
						<li><a href="/admin/"></a></li>
					</ul>
				</div>

				<div id="panel" class="col">
				</div>
			</article>