{% import "themes/macros/errors.html" as errors %}
			<article id="main">
				<h1>{{ error.code }}</h1>
				{{ errors.getMessage(error.code) }}
				<p>{{ error.message }}</p>

				{% if debug %}
				<div id="debug">
					<h5>Debug Info</h5>
					<p>Error in {{ error.file }} on line {{ error.line }}</p>
					<h4>Stacktrace</h4>
					<ol>
						{% for call in error.stacktrace %}
						<li>{{ call }}</li>
						{% endfor %}
					</ol>
					{% endif %}
				</div>
			</article>