Options +FollowSymLinks
RewriteEngine On

RewriteBase /

# Check for admin access
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^admin(.*)$		index.php?admin=true&args=$1	[L]

# Catch all rule for anything that is not caught
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$			index.php?id=$1					[L]