		<section id="cookie_notice" class="hidden">
			<p class="close"><span class="hideOnMobile hideOnTablet">x</span><span class="hideOnDesktop">close</span></p>
			<h4>Cookie Policy</h4>
			<p>To provide the best possible experiance, cookies are used by this website. Without the use of these cookies, the ability of this website to provide any services may be severly compromised. They are used only to manage your login session and for site analytic purposes.</p>
			<p>By continuing to use this website you are agreeing to allow cookies to be used.</p>
			<p><a href="/cookies-and-privacy">Click Here</a> to read more about cookies.</p>
		</section>
