<!DOCTYPE html>
<html lang="{{ language }}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-style-type" content="text/css" />
		<meta http-equiv="content-script-type" content="text/javascript" />

		<title>{{ title }}</title>

		<base href="{{ domain }}">

		{% if favicon != null and favicon != '' %}
		<link rel="shortcut icon" href="{{ favicon }}"/>
		{% else %}
		<link rel="shortcut icon" href="./public/images/favicon.ico"/>
		{% endif %}

		{% for data in meta %}
		{% if data.content != '' %}<meta name="{{ data.name }}" content="{{ data.content }}">{% endif %}
		{% endfor %}

		{% for sheet in style %}
		<link rel="stylesheet" type="text/css" href="{{ sheet }}">
		{% endfor %}

		{% for class in script %}
		<script type="text/javascript" src="{{ class }}"></script>
		{% endfor %}
		<script type="text/javascript"  src="public/js/cookies.js"></script>
		<script type="text/javascript"  src="public/js/animate.js"></script>
	</head>

	<body id="{{ name|lower|replace({' ' : '-'}) }}" class="{{ type|lower|replace({' ' : '-'}) }}-page">
		{% include "views/cookie-policy.tmpl" %}
		<header>
			{% include "themes/#{theme}/header.tmpl" with { 'navigation': headerNavigation, 'settings': settings } %}
		</header>

		<section id="body">
			{{ page | raw }}
		</section>

		<footer>
			{% include "themes/#{theme}/footer.tmpl" with { 'navigation': footerNavigation, 'settings': settings } %}
		</footer>
	</body>
</html>