<!DOCTYPE html>
<html lang="{{ language }}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-style-type" content="text/css" />
		<meta http-equiv="content-script-type" content="text/javascript" />

		<title>{{ title }}</title>

		{{ meta }}

		{{ style }}

		{{ script }}
	</head>
	<body>
		<header>
			{{ header }}
		</header>

		<section>
			{{ content }}
		</section>

		<footer>
			{{ footer }}
		</footer>
	</body>
</html>